<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:config/applicationContext.xml
		</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>sys/index.html</welcome-file>
    <welcome-file>sys/index.htm</welcome-file>
    <welcome-file>sys/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.yykj.base.socket_listener.SocketServiceLoader</listener-class>
  </listener>
  <servlet>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern> /servlet/AxisServlet </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern> *.jws </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern> /services/* </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.webapp.AxisAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern> /axis2-admin/* </url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CheckUserFilter</filter-name>
    <filter-class>com.yykj.system.filter.CheckUserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckUserFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysRoleServlet</display-name>
    <servlet-name>SysRoleServlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.SysRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysRoleServlet</servlet-name>
    <url-pattern>/SysRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SysResourceServlet</display-name>
    <servlet-name>SysResourceServlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.SysResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysResourceServlet</servlet-name>
    <url-pattern>/SysResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceAuthorityServlet</display-name>
    <servlet-name>ResourceAuthorityServlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.ResourceAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceAuthorityServlet</servlet-name>
    <url-pattern>/ResourceAuthorityServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>BillInfoServlet</display-name>
    <servlet-name>BillInfoServlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.BillInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillInfoServlet</servlet-name>
    <url-pattern>/BillInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusiBankCompareSevlet</display-name>
    <servlet-name>BusiBankCompareSevlet</servlet-name>
    <servlet-class>com.yykj.system.servlet.BusiBankCompareSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusiBankCompareSevlet</servlet-name>
    <url-pattern>/BusiBankCompareSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NopaymetnRecordServlet</display-name>
    <servlet-name>NopaymetnRecordServlet</servlet-name>
    <servlet-class>com.yykj.micromsg.servlet.NopaymetnRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NopaymetnRecordServlet</servlet-name>
    <url-pattern>/NopaymetnRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GhServlet</display-name>
    <servlet-name>GhServlet</servlet-name>
    <servlet-class>com.yykj.micromsg.servlet.GhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GhServlet</servlet-name>
    <url-pattern>/GhServlet</url-pattern>
  </servlet-mapping>
</web-app>